.datepicker {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.calendar {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4caf50;
    color: white;
}

.header button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
}

.day {
    text-align: center;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dates > * {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.otherDate {
    color: dimgray;
}

.date:hover {
    background-color: #f0f0f0;
}

.today {
    background-color: #4caf50;
    color: white;
}

.selected {
    background-color: #e4e4e4;
}