.logo {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 2 * (100vw - 120px) / 100) "Ink Free", fantasy;
  color: #087EA4;
  text-shadow: #000 2px 2px 0.2rem;
}