* {
	font-family: Tahoma;
	font-size: 40px;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.container div:nth-child(odd) {
	background-color: #dfe1e7;
}

.container div:nth-child(even) {
	background-color: #eeeff2;
}

.box {
	width: 100px;
	height: 100px;
	border-top: 1px solid #687291;
	text-align: center;
}

#final {
	display: flex;
	background-color: #687291;
	border: 4px solid black;
	align-items: center;
	justify-content: center;
}