* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(6, 1fr);
	background: linear-gradient(to right, aliceblue, pink)
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: font-size .5s;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.box:hover {
	font-size: 2em;
	cursor: pointer;
}