* {
	font-family: Tahoma;
	font-size: 40px;
}

.container {
	white-space: nowrap;
}

.box {
	display: inline-block;
	width: 100px;
	height: 150px;
	background-color: #eeeff2;
	margin: 10px;
	padding: 10px;
	border-left: 10px dotted #d0d0ff;
}

.container .box:hover {
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}

#final {
	position: absolute;
	bottom: 0;
	right: 0;
}